absl-py
altgraph
asttokens
astunparse
audioread
backcall
bcrypt
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
crypto
cryptography
cycler
Cython
debugpy
decorator
dm-tree
dnspython
email_validator
et-xmlfile
etils
executing
filelock
Flask
Flask-Cors
Flask-MySQLdb
Flask-WTF
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-speech
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
gym
gym-notices
h5py
idna
importlib_resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
jmespath
joblib
JPype1
jupyter_client
jupyter_core
keras==2.15.0
keras-resnet
keyboard
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
msgpack
mysql-connector-python
mysqlclient
Naked
namex
nest-asyncio
networkx
nltk
node
numba
numpy
oauthlib
odict
opencv-python
openpyxl
opt-einsum
packaging
pandas
parso
pefile
pickleshare
Pillow
platformdirs
plumber
pooch
progressbar2
promise
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
py-cpuinfo
pyaes
pyasn1
pyasn1-modules
pycocotools
pycparser
pycryptodome
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyjnius
PyMySQL
pyparsing
python-dateutil
python-dotenv
python-utils
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
rsa
s3transfer
scikit-learn
scipy
seaborn
shellescape
six
smmap
soundfile
soxr
SpeechRecognition
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboardX
tensorflow==2.15.0
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor
tf-keras
thop
threadpoolctl
toml
torch
torch-tb-profiler
torchaudio
torchsummary
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
urllib3
wcwidth
Werkzeug
wrapt
WTForms
xlrd
zipp
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy
